.img {
    width:100%;
    object-fit:contain;
    object-position: top;
    margin-bottom: 0px;
    object-position: left;
    
    


}
.video-Artist{
    display: inline-block;
    margin-top: 0px;
    
}
.Search {
    display:block;
}
.video-title{
    font-weight:bold;
    margin-top:0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.video-stats {
    margin-top:0px;
}
.video-Artist , .video-stats{
    font-size: 12px;
    color:rgb(96, 96, 96)
}
.video-Artist{
    margin-bottom: 10px;
}
.video-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-pic{
    
    vertical-align: top;
}
/*.video-description {
    display: inline-block;
    
    
}*/
.profile-pic{
    width:80%;
    border-radius: 25px;
}
.thumbnail-row {
    margin-bottom:12px;
    position: relative;
}
p {
    font-family: Roboto, Arial;
    margin-top:0px;
    margin-bottom:0px ;
}
.profile-2{
 width: 80%;
 border-radius: 20px;
}
/*.description{
    display:inline-block;
    
}*/
/*.pic-hold{
    display: inline-block;
    width:30px;
    vertical-align: top;
}*/
.grid-maker{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
    row-gap: 40px;
}
.vid-time{
    background-color: black;
    color:white;
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 2px;
    font-family:Roboto, Arial ;
    font-weight: 500;
    font-size: 12px;
}
